.MMM-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.MMM-Header div:nth-child(2) ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.MMM-Header div:nth-child(2) ul li {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.MMM-Header div:nth-child(2) ul li:nth-child(1) {
  margin-right: 10px;
}

.MMM-Header ul li a span span {
  padding: 10px;
  background-color: var(--green1);
  color: var(--white) !important;
  border-radius: 10px;
  font-family: Tango;
  font-size: 16px;
}

.MMM-Header ul li a span span:hover {
  background-color: var(--green2);
  color: var(--white);
}

@media only screen and (max-width: 750px) {
  .MMM-Header {
    justify-content: center;
    padding: 20px;
  }
}
